---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <div class="container">
      <div class="row">
        <div class="column">
          <Card
            href="m5stack"
            title="bluetooth sampe"
            body="WebBluetoothのサンプル"
          />
        </div>
        <div class="column">
          <Card
            href="presentation"
            title="発表会資料"
            body="2022-2023 Techcamp発表会資料"
          />
        </div>
      </div>
      <div class="row">
        <div class="column">
          <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
          />
        </div>
        <div class="column">
          <Card
            href="https://astro.build/integrations/"
            title="Integrations"
            body="Supercharge your project with new frameworks and libraries."
          />
        </div>

        <div class="column">
          <Card
            href="https://astro.build/themes/"
            title="Themes"
            body="Explore a galaxy of community-built starter themes."
          />
        </div>
        <div class="column">
          <Card
            href="https://astro.build/chat/"
            title="Community"
            body="Come say hi to our amazing Discord community. ❤️"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
