---
import Layout from "../layouts/Layout.astro";
---

<script src="../js/webbluetooth.js"></script>
<script>
  console.log("Welcome, browser console!");
</script>
<Layout title="M5Stack">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <button id="connect">接続</button>
  </main>
</Layout>
